@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> localizer
@inject AlfaKuryer.Application.Services.SettingServices.ISettingService settingservice;
@{
    AlfaKuryer.Application.Dtos.SettingDtos.SettingGetDto settingGetDto = await settingservice.Get();
}
@{
    string controller = "";
    string action = "";

    if (User.IsInRole("User") || User.IsInRole("Company"))
    {
        controller = "Account";
        action = "update";
    }
    else if (User.IsInRole("Courier"))
    {
        controller = "Courier";
        action = "accept";
    }
    string selectedLanguage = localizer["Language"];
    }
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - AlfaKargo.App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/assets/css/shared.css">
        @RenderSection("css", false)
    </head>
    <body>
        @RenderSection("login", false)
        <header>
            <div class="top-header py-2">
                <div class="container">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row align-items-center">
                            <div class="nav justify-content-between">
                                <div class="top-header-left-side d-flex gap-5 align-items-center">
                                    <a href="tel:*7171" class="d-flex gap-2">
                                        <span class="iconify"
                                              data-icon="healthicons:phone" data-height="16"
                                              style="color: #7b7b93;"></span>@settingGetDto?.PhoneNumber1
                                        </a>
                                        <a style="color:white;">@localizer["Address"] : @settingGetDto.Adress</a>
                                    </div>
                                <div class="top-header-right-side d-flex gap-4 align-items-center">
                                    <a href="#" class="d-flex align-items-center gap-1 lang-all" id="lang-all">
                                        <span class="lang" id="lang" style="position: relative;">
                                            @(localizer["Language"] == "Az" ? "AZ" : (localizer["Language"] == "Ru" ? "RU" : "EN"))
                                        </span>

                                        <div class="lang-drop-down" id="lang-drop-down">
                                            <a asp-controller="home" asp-action="ChangeLanguage" asp-route-culture="az-AZ"
                                               class="aze @(localizer["Language"] == "Az" ? "selected" : "")" id="aze">AZ</a>
                                            <a asp-controller="home" asp-action="ChangeLanguage" asp-route-culture="en-En" class="eng @(localizer["Language"] == "En" ? "selected" : "")" id="eng">EN</a>
                                            <a asp-controller="home" asp-action="ChangeLanguage" asp-route-culture="ru-RU" class="rus @(localizer["Language"] == "Ru" ? "selected" : "")" id="rus">RU</a>
                                        </div>

                                    </a>

                                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Courier") && !User.IsInRole("Cassir"))
                                    {
                                        <a asp-controller="account" asp-action="SignOut" class="sign-in">@localizer["Logout"]</a>
                                        <a asp-controller="@controller" asp-action="@action" class="sign-up">Panel</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="account" asp-action="login" class="sign-in">@localizer["Login"]</a>
                                        <a asp-controller="account" asp-action="Register" class="sign-up">@localizer["Sign up"]</a>

                                    }
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bottom-header py-4">
                    <div class="container py-1">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row align-items-center">
                                <div class="nav justify-content-between align-items-center">
                                    <div class="bottom-header-left-side pt-1">
                                        <a asp-controller="home" asp-action="index" class="logo">
                                            <img src="~/assets/imgs/Logo/alfa kuryer logo.png" alt="Dynamex Logo" height="100" style="width:100px;" class="logo">
                                        </a>
                                    </div>
                                    <div class="bottom-header-menu">
                                        <nav>
                                            <ul class="nav d-flex gap-5 align-items-center">
                                                <li><a asp-controller="rate" asp-action="index">@localizer["Tariffs"]</a></li>
                                                <li><a asp-controller="news" asp-action="index">@localizer["News"]</a></li>
                                                <li><a asp-controller="contact" asp-action="index">@localizer["Contact Us"]</a></li>
                                                <li style="display: flex">
                                                    <form class="form-tack" action="/order/TrackPublic">
                                                        <input id="tracking" name="id" placeholder="@localizer["Order Tracking"]" />
                                                        <button type="submit" class="btn-red"><i class="fa fa-search"></i></button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="bottom-header-right-side">

                                        @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Courier") && !User.IsInRole("Cassir"))
                                        {
                                            <a asp-controller="account" asp-action="SignOut" class="sign-in">@localizer["Logout"]</a>
                                            <a asp-controller="@controller" asp-action="@action" class="sign-in">Panel</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="account" asp-action="login" class="sign-in">@localizer["Login"]</a>
                                            <a asp-controller="account" asp-action="Register" class="sign-in">@localizer["Sign up"]</a>

                                        }

                                    </div>

                                    <div class="menu-bar">
                                        <div class="icon">
                                            <i class="fa-solid fa-bars"></i>
                                        </div>
                                        <div class="mini-menu active-menu" style="height:100%;z-index:99999999">
                                            <ul>
                                                <li class="close"><i class="fa-solid fa-xmark"></i></li>
                                                <li>
                                                    <select name="cars" id="cars" onchange="(changeLanguage(this))">
                                                        @if (selectedLanguage == "Az")
                                                        {
                                                            <option selected value="az-AZ">Az</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="az-AZ">Az</option>
                                                        }

                                                        @if (selectedLanguage == "En")
                                                        {
                                                            <option selected value="en-EN">En</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="en-EN">En</option>
                                                        }

                                                        @if (selectedLanguage == "Ru")
                                                        {
                                                            <option selected value="ru-RU">Ru</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="ru-RU">Ru</option>
                                                        }
                                                    </select>

                                                </li>


                                                <li><a asp-controller="rate" asp-action="index">@localizer["Tariffs"]</a></li>
                                                <li><a asp-controller="news" asp-action="index">@localizer["News"]</a></li>
                                                <li><a asp-controller="contact" asp-action="index">@localizer["Contact Us"]</a></li>

                                                @if (User.Identity.IsAuthenticated&&!User.IsInRole("Admin")&&!User.IsInRole("Courier")&&!User.IsInRole("Cassir"))
                                                {
                                                    
                                                  
                                                    <li><a asp-controller="account" asp-action="SignOut">@localizer["Logout"]</a></li>
                                                    <li>  <a asp-controller="@controller" asp-action="@action">Panel</a></li>
                                                }
                                                else
                                                {
                                                    <li><a asp-controller="account" asp-action="login">@localizer["Login"]</a></li>
                                                    <li><a asp-controller="account" asp-action="register">@localizer["Sign up"]</a></li>

                                                }




                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mobile-header">
                    <div class="logo">
                        <a asp-controller="home" asp-action="index" class="logo">
                            <img src="~/assets/imgs/Logo/alfa kuryer logo.png" alt="Dynamex Logo" height="100" class="logo">
                        </a>
                    </div>
                    <div class="menu-bar2">
                        <div class="icon">
                            <i class="fa-solid fa-bars"></i>
                        </div>
                        <div class="mini-menu2 active-menu" style="height:100%;z-index:99999999;">
                            <ul>
                                <li class="close2"><i class="fa-solid fa-xmark"></i></li>
                                <li>
                                    <select name="cars" id="cars" onchange="(changeLanguage(this))">
                                        @if (selectedLanguage == "Az")
                                        {
                                            <option selected value="az-AZ">Az</option>
                                        }
                                        else
                                        {
                                            <option value="az-AZ">Az</option>
                                        }

                                        @if (selectedLanguage == "En")
                                        {
                                            <option selected value="en-EN">En</option>
                                        }
                                        else
                                        {
                                            <option value="en-EN">En</option>
                                        }

                                        @if (selectedLanguage == "Ru")
                                        {
                                            <option selected value="ru-RU">Ru</option>
                                        }
                                        else
                                        {
                                            <option value="ru-RU">Ru</option>
                                        }
                                    </select>
                                </li>

                                <li><a asp-controller="rate" asp-action="index">@localizer["Tariffs"]</a></li>
                                <li><a asp-controller="news" asp-action="index">@localizer["News"]</a></li>
                                <li><a asp-controller="contact" asp-action="index">@localizer["Contact Us"]</a></li>

                                @if (User.Identity.IsAuthenticated && !User.IsInRole("Admin") && !User.IsInRole("Courier") && !User.IsInRole("Cassir"))
                                {


                                    <li><a asp-controller="account" asp-action="SignOut">@localizer["Logout"]</a></li>
                                    <li>  <a asp-controller="@controller" asp-action="@action">Panel</a></li>
                                }
                                else
                                {
                                    <li><a asp-controller="account" asp-action="login">@localizer["Login"]</a></li>
                                    <li><a asp-controller="account" asp-action="register">@localizer["Sign up"]</a></li>

                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </header>
            <main>
                @RenderBody()
            </main>
            <footer>
                <div class="container footer">
                    <div class="row">
                        <div class="col-md-12 mt-5 mb-5">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">
                                    <a asp-controller="home" asp-action="index" class="white-logo">
                                        <img class="mb-4" src="~/assets/imgs/Logo/alfa kuryer logo.png" alt="Dynamex Logo" width="160">
                                    </a>
                                    <p class="mb-5">
                                        <span class="iconify" data-icon="mdi:copyright"></span>
                                        Alfaex.az<br>@localizer["All rights reserved"]
                                    </p>
                                    <div class="socials">
                                        <a href="@settingGetDto?.FaceBookLink" class="social" target="_blank">
                                            <span class="iconify" data-icon="cib:facebook-f" data-height="20"
                                                  style="color: white;"></span>
                                        </a>

                                        <a href="@settingGetDto?.InstgaramLink" class="social"
                                           target="_blank">
                                            <span class="iconify" data-icon="akar-icons:instagram-fill" data-height="20"
                                                  style="color: white;"></span>
                                        </a>
                                        <a href="@settingGetDto?.YoutubeLink"
                                           class="social" target="_blank">
                                            <i>
                                                <span class="iconify" data-icon="akar-icons:youtube-fill" data-height="20"
                                                      style="color: white;"></span>
                                            </i>
                                        </a>
                                    </div>

                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <h3>@localizer["Menu"]</h3>
                                    <ul class="menu-list">
                                        <li><a asp-controller="about" asp-action="index">@localizer["About"]</a></li>
                                        <li><a asp-controller="service" asp-action="index">@localizer["Services"]</a></li>
                                        <li><a asp-controller="rate" asp-action="index">@localizer["Tariffs"]</a></li>
                                        <li><a asp-controller="news" asp-action="index">@localizer["News"]</a></li>
                                        <li><a asp-controller="contact" asp-action="index">@localizer["Contact Us"]</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-2 col-md-6">
                                    <h3>@localizer["Help"]</h3>
                                    <ul class="help-list">
                                        <li><a asp-controller="about" asp-action="Privacy">@localizer["Privacy policy"]</a></li>
                                        <li><a asp-controller="about" asp-action="agreement">@localizer["User Agreement"]</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <h3>@localizer["Contact Us"]</h3>
                                    <ul class="contact-list">

                                        <li>
                                            <a href="#">@settingGetDto?.Adress</a>
                                        </li>

                                        <li>
                                            <a href="mailto:@settingGetDto?.Email">@settingGetDto?.Email</a>
                                        </li>

                                        <li>
                                            <a href="tel:@settingGetDto?.PhoneNumber1" class="d-flex gap-2">
                                                <span class="iconify" data-icon="healthicons:phone" data-height="16"
                                                      style="color: #7b7b93;"></span>
                                                @settingGetDto?.PhoneNumber1

                                            </a>
                                            <a href="tel:@settingGetDto?.PhoneNumber2" class="d-flex gap-2">
                                                <span class="iconify" data-icon="healthicons:phone" data-height="16"
                                                      style="color: #7b7b93;"></span>
                                                @settingGetDto?.PhoneNumber2

                                            </a>
                                            <a class="d-flex gap-2" href="https://wa.me/@settingGetDto?.PhoneNumber1">
                                                <i class="fa-brands fa-whatsapp"></i>
                                                @settingGetDto?.PhoneNumber1
                                            </a>
                                            <a class="d-flex gap-2" href="https://wa.me/@settingGetDto?.PhoneNumber2">
                                                <i class="fa-brands fa-whatsapp"></i>
                                                @settingGetDto?.PhoneNumber2
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/assets/js/shared.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/iconify/2.0.0/iconify.min.js"
                    integrity="sha512-lYMiwcB608+RcqJmP93CMe7b4i9G9QK1RbixsNu4PzMRJMsqr/bUrkXUuFzCNsRUo3IXNUr5hz98lINURv5CNA=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <script>
            function changeLanguage(culture) {
                fetch('/home/ChangeLanguageJson?culture=' + culture.value)
                    .then(response => response.json())
                    .then(data => {
                       window.location.reload() // Assuming you want to display the response in the console
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }

        </script>
            @await RenderSectionAsync("Scripts", required: false)
        </body>
    </html>
