@using AlfaKuryer.Application.Dtos.NewsDtos;
@using AlfaKargo.App.areas.ViewModels; 
@model UpdateVewModel<NewsPostDto,NewsGetManageDto>
<div class="card">
    <div class="card-header">
        Düzəliş et
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <form asp-action="Update" class="row" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-10 mt-4 wrapper">
                        <input asp-for="PostDto.FormFile" class="form-control d-none" />
                        <label class="btn btn-success" for="image">Şəkil Yüklə</label>
                        <input multiple id="image" type="file" name="postDto.FormFile" value="" class="d-none imginput" /> <br />
                        <span class="text-danger">Eyni anda çoxlu şəkil seçərək yükləmə edə bilərsiniz!</span> <br />
                        <span asp-validation-for="PostDto.FormFile" class="text-danger"></span>
                 
                            <img  src="~/assets/imgs/news//@Model.GetDto?.Image" class="oldimage" width="100" height="100" alt="Alternate Text" />
                 
                        <br />
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="control-label">BaşlıqAz</label>
                        <input asp-for="@Model.PostDto.TitleAz" value="@Model.GetDto?.TitleAz" class="form-control" />
                        <span asp-validation-for="@Model.PostDto.TitleAz"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">BaşlıqEn</label>
                        <input asp-for="@Model.PostDto.TitleEn" value="@Model.GetDto?.TitleAz" class="form-control" />
                        <span asp-validation-for="@Model.PostDto.TitleEn"></span>
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="control-label">BaşlıqRu</label>
                        <input asp-for="@Model.PostDto.TitleRu" value="@Model.GetDto?.TitleRu" class="form-control" />
                        <span asp-validation-for="@Model.PostDto.TitleRu"></span>
                    </div>


                    <div class="form-group  col-md-6">
                        <label class="control-label">TəsvirAz</label>
                        <input asp-for="@Model.PostDto.DescriptionAz" value="@Model.GetDto?.DescriptionAz" class="form-control" />
                        <span asp-validation-for="@Model.PostDto.DescriptionAz"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">TəsvirEn</label>
                        <input asp-for="@Model.PostDto.DescriptionEn" value="@Model.GetDto?.DescriptionEn" class="form-control" />
                        <span asp-validation-for="@Model.PostDto.DescriptionEn"></span>
                    </div>

                    <div class="form-group  col-md-6">
                        <label class="control-label">TəsvirRu</label>
                        <input asp-for="@Model.PostDto.DescriptionRu" value="@Model.GetDto?.DescriptionRu" class="form-control" />
                        <span asp-validation-for="@Model.PostDto.DescriptionRu"></span>
                    </div>

                    <div class="col-md-12 mt-3">
                        <a class="btn btn-dark" asp-action="index"><i class="fas fa-undo"></i> Siyahıya geri dön</a>
                        <input type="submit" value="Yenilə" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>