@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> localizer
@using AlfaKuryer.Application.Dtos.IdentityDtos;
@model LoginDto
@{
    ViewData["Title"] = "Login";
}

@section css{
    <link rel="stylesheet" href="~/assets/css/login.css">

}
@section login{
    <div class="modal-wrapper col-5" style="display: none;">
        <div class="modal">
            <div class="modal-cont">
                <div class="close" id="close-modal">
                    <span class="iconify" data-icon="ant-design:close-circle-outlined" data-height="24"></span>
                </div>
                <div class="m-header">
                    <span class="m-title">
                        @localizer["Forgot your password?"]
                    </span>
                    <p class="m-hint">
                        @localizer["Enter your email address to reset your password."]
                    </p>
                </div>
                <div class="m-body">
                    <form id="forgetPasswordForm" class="resform">
                        <div class="res text text-danger" style="display:none"></div>
                        <input type="email" name="email" required placeholder="Email">
                        <div class="btn-wrap d-flex justify-content-center">
                            <button class="register btn" type="submit">
                                @localizer["send"]
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


<section id="intro">
    <div class="container">
        <div class="row">

            <div class="faq-description d-flex justify-content-center">
                <p>@localizer["Login"]</p>
            </div>
        </div>
    </div>
</section>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 left">
                <div class="title">
                    <b>@localizer["Login"]</b>
                </div>
                <div class="form">
                    <form method="post" class="form-group">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="email">
                            <label for="email"> @localizer["Email"]</label> <br>
                            <input type="email" asp-for="Email" required> <br>
                        </div>
                        <div class="password">
                            <label for="Password">@localizer["Password"]</label> <br>
                            <input type="password" asp-for="Password" required> <br>
                        </div>

                        <button type="submit">Daxil ol</button>
                        <span href="" class="reset" style="cursor: pointer; font-size: 13px; font-weight: 500;">@localizer["Reset password"]</span>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 right">

                <div class="text">
                    <span>@localizer["Do you have an account?"]</span>
                    <a asp-controller="account" asp-action="register">@localizer["Register"]</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/assets/js/reset-modal.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>// Get the form element
        const form = document.getElementById('forgetPasswordForm');

        // Add an event listener to the form submit event
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Get the email input value
            const email = document.querySelector('input[name="email"]').value;

            // Create a FormData object
            const formData = new FormData();
            formData.append('email', email);

            // Make the fetch request to the action
            fetch('/account/ForgetPassword', {
                method: 'POST',
                body: formData
            })
                .then(response => response.json())
                .then(data => {
                    // Handle the response from the server
                    if (data.status === 200) {
                        swal("davam etmək üçün emailinizə göndərilən linkə tıklayın mail 1 dəqiqə ərzində göndəriləcək");
                    } else {
                        // Error: Do something with the error message
                        const errorMessage = data.message;
                        // Display the error message in the specified element
                        const errorElement = document.querySelector('.res.text-danger');
                        errorElement.textContent = errorMessage;
                        errorElement.style.display = 'block';
                    }
                })
                .catch(error => {
                    // Handle any errors that occurred during the request
                    console.error('Error:', error);
                });
        });</script>
}