@model AlfaKuryer.Application.Dtos.IdentityDtos.RegisterDto
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> localizer
@{
    ViewData["Title"] = "Register";
}
@section css{
    <link rel="stylesheet" href="~/assets/css/register.css">

}
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="register-title d-flex justify-content-center">
                <b>@localizer["Welcome to AlfaKuryer!"]</b>
            </div>
        </div>
    </div>
</section>
<section id="register">
    <div class="container">
        <div class="row">
            <div class="left col-lg-12 col-md-12">
                <div class="register-form">
                   
                    <div class="customer-cat">
                        <div class="natural person py-2 px-4 @(Model==null?"selected":"") @(Model != null &&!Model.IsCompany==false ? "selected" : null)">
                            <i><span class="iconify" data-icon="ic:baseline-person-outline" data-height="24"></span></i>
                            <span>@localizer["Individual"]</span>
                        </div>
                        <div class="juridical person py-2 px-4 @(Model != null && Model.IsCompany==true ? "selected" : null)">
                            <i><span class="iconify" data-icon="bx:buildings" data-height="22"></span></i>
                            <span>@localizer["Entity"]</span>
                        </div>

                    </div>
                    <form method="post" class="form col-12 natural-person" style="@(Model == null || (Model != null && Model.IsCompany==false) ? "display:block;" : "display:none;")">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="text" asp-for="Name" placeholder="@localizer["Name"]" required>
                                <span class="text text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="text" asp-for="Surname" placeholder="@localizer["Surname"]" required>
                                <span class="text text-danger" asp-validation-for="Surname"></span>
                            </div>
                        </div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="email" asp-for="Email" placeholder="@localizer["Email"]" required>
                                <span class="text text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group col-5 d-flex">
                                <select asp-for="PhoneCode" class="id-type" required>
                                    <option value="99450">050</option>
                                    <option value="99451">051</option>
                                    <option value="99455">055</option>
                                    <option value="99499">099</option>
                                    <option value="99470">070</option>
                                    <option value="99477">077</option>
                                    <option value="99460">060</option>
                                    <option value="99410">010</option>
                                </select>
                                <input type="text" asp-for="PhoneNumber" placeholder="@localizer["PhoneNumber"]" required>
                                <span class="text text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>


                            <input hidden asp-for="Role" value="User" />

                        </div>

                        <div class="form-comp">

                            <div class="form-group col-5 d-flex flex-column">
                                <input type="password" asp-for="VerifyPassword" placeholder="@localizer["Again Password"]" required>
                                <span class="text text-danger" asp-validation-for="VerifyPassword"></span>
                            </div>
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="password" asp-for="Password" placeholder="@localizer["Password"]" required>
                                <span class="text text-danger" asp-validation-for="Password"></span>
                            </div>
                            <input hidden asp-for="IsCompany" value="false" />
                        </div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex flex-column">

                                <select asp-for="Method" required>
                                    <option value="email">Bildirişləri email ilə al</option>
                                    <option value="phone">Bildirişləri telefon ilə al</option>
                                </select>
                            </div>

                        </div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex align-items-center gap-2">
                                <input type="checkbox" asp-for="IsAgree" required>
                                <div class="text">
                                    <a asp-controller="about" asp-action="agreement" style="color: #15b2ec;">
                                        @localizer["User Terms"]
                                    </a>
                                    <span style="font-size: 13px">  @localizer["I agree with"]</span>
                                    <span class="text text-danger" asp-validation-for="IsAgree"></span>
                                </div>
                            </div>
                            <div class="form-group col-5 d-flex">
                                <a style="color: #EF3340;" href="https://youtu.be/mn-va-DWDmk" target="_blank" class="d-flex align-items-center">
                                    <i><span class="iconify" data-icon="octicon:video-16" data-height="16"></span></i>
                                    <span style="margin-left: .5rem;">@localizer["Follow the registration process"]</span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-wrap d-flex justify-content-center">
                            <button class="register btn" type="submit">
                                @localizer["Register"]
                            </button>
                        </div>
                    </form>
                    <form method="post" class="form col-12 juridical-person" style="@((Model != null && Model.IsCompany==true) ? "display:block;" : "display:none;")">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="text" asp-for="Name" placeholder="@localizer["Company name"]" required>
                                <span class="text text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="email" asp-for="Email" placeholder="@localizer["Email"]" required>
                                <span class="text text-danger" asp-validation-for="Email"></span>
                            </div>
                        </div>

                        <div class="form-comp">
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="password" asp-for="Password" placeholder="@localizer["Password"]" required>
                                <span class="text text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="form-group col-5 d-flex">
                                <select asp-for="PhoneCode" class="id-type" required>
                                    <option value="99450">050</option>
                                    <option value="99451">051</option>
                                    <option value="99455">055</option>
                                    <option value="99499">099</option>
                                    <option value="99470">070</option>
                                    <option value="99477">077</option>
                                    <option value="99460">060</option>
                                    <option value="99410">010</option>
                                </select>
                                <input type="text" asp-for="PhoneNumber" placeholder="@localizer["PhoneNumber"]" required>
                                <span class="text text-danger" asp-validation-for="PhoneNumber"></span>
                            </div>


                            <input checked hidden asp-for="IsCompany" value="true" />
                            <input hidden asp-for="Role" value="Company" />
                            <input hidden asp-for="Method" value="email" />
                        </div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex flex-column">
                                <input type="password" asp-for="VerifyPassword" placeholder="@localizer["Again Password"]" required>
                                <span class="text text-danger" asp-validation-for="VerifyPassword"></span>
                            </div>
                        </div>
                        <div class="form-comp">
                            <div class="form-group col-5 d-flex align-items-center gap-2">
                                <input type="checkbox" asp-for="IsAgree" required>
                                <div class="text">
                                    <a asp-controller="about" asp-action="agreement" style="color: #15b2ec;">
                                        @localizer["User Terms"]
                                    </a>
                                    <span style="font-size: 13px">  @localizer["I agree with"]</span>
                                </div>
                            </div>
                            <div class="form-group col-5 d-flex">
                                <a style="color: #EF3340;" href="https://youtu.be/mn-va-DWDmk" target="_blank" class="d-flex align-items-center">
                                    <i><span class="iconify" data-icon="octicon:video-16" data-height="16"></span></i>
                                    <span style="margin-left: .5rem;">@localizer["Follow the registration process"]</span>
                                </a>
                            </div>
                        </div>
                        <div class="btn-wrap d-flex justify-content-center">
                            <button class="register btn" type="submit">
                                @localizer["Register"]
                            </button>
                        </div>
                    </form>
                    <div class="do-you text d-flex justify-content-center gap-2 mt-2">
                        <span style="font-size: 13px">@localizer["Do you have an account?"]</span>
                        <a asp-controller="account" asp-action="login" style="color: #15b2ec;">@localizer["Login"]</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/register.js"></script>

}