@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> localizer
@model AlfaKargo.App.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["verify"]?.ToString() == "verify")
{
    <div style="display:none" class="verify">@localizer["Verify email"]</div>
}



@section css{
    <link rel="stylesheet" href="~/assets/css/index.css">

}
<section id="how-works">
    <div class="how-works-title">
        <b>@localizer["How does it work?"]</b>
    </div>
    <div class="container-xxl">
        <div class="row py-5">
            @foreach (var item in Model.helpGetDtos)
            {
                <div class="card-wrap col-md-4 col-sm-12 justify-content-center d-flex">
                    <div class="card align-items-center border-0 w-100">
                        <h5 class="card-title">@item?.Title</h5>
                        <p class="card-text">
                            @item?.Description
                        </p>
                        <div class="more d-flex align-items-end h-100">
                            <a asp-controller="news" asp-action="index">Ətraflı</a>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</section>

<section id="delivery">
    <div class="container">
        <div class="deli-title">
            <b>@localizer["Tariffs"]</b>
        </div>

        <div class="row">

            <div class="rate-wrapper from-türkiye col-12">
                <div class="row to-branch justify-content-center">
                    @foreach (var item in Model.rateGetDtos)
                    {
                        <div class="rate d-flex col-xxl-5 col-lg-5 col-md-12 col-sm-12">
                            <div class="condition">

                                <i style="color: #d3d3e4;" class="fa-solid fa-truck-fast"></i>
                                <b>@item.From  -  @item.To</b>
                            </div>
                            <div class="detail">
                                <div class="normal col-6 d-flex flex-column">
                                    <span class="price">@item.Price AZN </span>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>

        </div>
    </div>
</section>

<section id="stores">
    <div class="container">
        <div class="row">
            <div class="stores col-12">
                <div class="wrapper">
                    <div class="s-carousel owl-carousel">
                        @foreach (var item in Model.slideGetDtos)
                        {
                            <a class="store" href="#">
                                <img src="~/assets/imgs/Logo/@item?.Logo" alt="defacto">
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{

    <script src="~/assets/js/index.js"></script>
    <script src="~/assets/js/calculator.js"></script>
    <script src="~/assets/js/rates.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>const verify = document.querySelector(".verify")
        if (verify != undefined) {
            swal(verify.innerHTML);
        }</script>

}
