@using AlfaKuryer.Application.Dtos.HelpDtos;
@model IEnumerable<HelpGetDto>
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        Tariflər
    </div>
    <div class="card-body">

        <div class="text-center mb-3 mt-3">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Yenisini əlavə et
            </a>
        </div>

        <table class="table" data-emrah="partners">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Başlıq
                    </th>
                    <th>
                        Təsvir
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.Id">
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Description
                        </td>

                        <td>
                            <a asp-action="Update" asp-route-id="@item.Id"><i class="fas btn btn-primary fa-edit"></i></a>
                            <a class="btn btn-danger" onclick="return confirm('Silmək istədiyinizdən əminsiniz?');" asp-action="DeleteConfirmed" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>




    </div>
</div>

