@model AlfaKuryer.Application.Dtos.SettingDtos.SettingGetDto
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> localizer
@{
    ViewData["Title"] = "Index";
}
@section css{
    <link rel="stylesheet" href="~/assets/css/contact.css">
}
<section id="intro">
    <div class="container">
        <div class="row">
            <div class="contact-title d-flex justify-content-center">
                <b> @localizer["Contact Us"]</b>
            </div>

        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12 info">
                <div class="info-title">
                   
                </div>

                <div class="socials d-flex col-11">
                    <a href="@Model?.FaceBookLink" class="social">
                        <span class="iconify" data-icon="cib:facebook-f" data-height="20" style="color: white;"></span>
                    </a>
                    <a href="@Model?.InstgaramLink" class="social">
                        <span class="iconify" data-icon="akar-icons:instagram-fill" data-height="20" style="color: white;"></span>
                    </a>
                    <a href="@Model?.YoutubeLink" class="social">
                        <i>
                            <span class="iconify" data-icon="akar-icons:youtube-fill" data-height="20" style="color: white;"></span>
                        </i>
                    </a>
                    <a href="https://wa.me/@Model?.PhoneNumber1" class="social">
                        <i>
                            <span class="iconify" data-icon="akar-icons:whatsapp-fill" data-height="20" style="color: white;"></span>
                        </i>
                    </a>


                </div>
            </div>
            <div class="col-lg-7 col-md-12 form">
                <div class="form-title">
                </div>
                <div class="form-content">
                    <form id="form">
                        <div class="name-surname col-12 ">
                            <div class="col-12 name form-group">
                                <label for="FullName">@localizer["FullName"]</label>
                                <input type="text" name="FullName" id="FullName">
                                <span class="name-err d-flex justify-content-start">Ad boş qoyula bilməz</span>
                            </div>
                            <div class="col-12 name form-group">
                                <label for="Subject">@localizer["Title"]</label>
                                <input type="text" name="Subject" id="Subject">
                                <span class="name-err d-flex justify-content-start">Ad boş qoyula bilməz</span>
                            </div>
                        </div>

                        <div class="costumer-contacts form-group col-12 ">
                            <div class="col-12  tel form-group">
                                <label for="PhoneNumber">@localizer["PhoneNumber"]</label>
                                <input type="tel" name="PhoneNumber" id="PhoneNumber">
                                <span class="tel-err d-flex justify-content-start">Telefon boş qoyula bilməz</span>
                            </div>
                            <div class="col-12 email form-group">
                                <label for="Email">@localizer["Email"]</label>
                                <input type="Email" name="Email" id="Email">
                                <span class="Email d-flex justify-content-start">Email boş qoyula bilməz</span>
                            </div>
                        </div>
                        <div class="col-12 message form-group">
                            <label for="Content">@localizer["Message"]</label>
                            <textarea name="Content" id="text-Content"></textarea>
                            <span class="msg-err d-flex justify-content-start">Mesaj boş qoyula bilməz</span>
                        </div>
                        @Html.AntiForgeryToken()
                        <div class="btn-wrap d-flex justify-content-center">
                            <button class="send btn" type="submit" id="sendButton">
                                Göndər
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="maps">
</section>
@section Scripts{

    <script src="~/assets/js/maps.js"></script>
    <script src="~/assets/js/send-email.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


}