
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> localizer
@using AlfaKuryer.Application.Dtos.OrderDtos;
@using AlfaKuryer.Application.Dtos.AdresDtos;


@model OrderPostDto
@{
    ViewData["Title"] = "Sifarişlərim";
    int i = 0;
}
@section css{
    <link rel="stylesheet" href="~/assets/css/panel.css">

}
@if (TempData["verify"]?.ToString() == "verify")
{
    <div style="display:none" class="verify">Sürətli çatdırma sadəcə şəhər daxili keçərlidir</div>
}
<section id="main-part">

    <div class="container">
        <div class="navigation">
            <div class="userBx">
                <div class="imgBx">
                    <img src="~/assets/imgs/Logo/alfa kuryer logo.png" alt="">
                </div>
                <p class="username">@User.Identity.Name</p>
            </div>
            <div class="menuToggle"></div>
            <ul class="menu">
                <li><a asp-controller="account" asp-action="update"><i class="fa-solid fa-address-card"></i> Məlumatlar</a></li>
                <li><a asp-controller="order" asp-action="index"><i class="fa-solid fa-box-open"></i> Bağlamalar</a></li>
                <li><a asp-controller="order" asp-action="history"><i class="fa-solid fa-calendar-days"></i> Sifariş Tarixçəsi</a></li>
                <li><a asp-controller="order" asp-action="createorder"><i class="fa-solid fa-dolly"></i> Sifariş ver</a></li>
            </ul>
        </div>

        <div class="row d-flex justify-content-center">
            <aside class="sidebar" class="col-4">

                <div class="sidebar-header">

                    <div class="account-image">
                        <img src="~/assets/imgs/Logo/alfa kuryer logo.png" alt="">
                    </div>
                    <div class="account-info">
                        <p><span>ID:</span> @User.Identity.Name</p>
                    </div>

                </div>

                <div class="sidebar-body">

                    <ul class="istifadeci">
                        <li><a asp-controller="account" asp-action="update"><i class="fa-solid fa-address-card"></i> Məlumatlar</a></li>
                        <li><a asp-controller="order" asp-action="index"><i class="fa-solid fa-box-open"></i> Bağlamalar</a></li>
                        <li><a asp-controller="order" asp-action="history"><i class="fa-solid fa-calendar-days"></i> Sifariş Tarixçəsi</a></li>
                        <li><a asp-controller="order" asp-action="createorder"><i class="fa-solid fa-dolly"></i> Sifariş ver</a></li>
                    </ul>
                </div>

            </aside>
            <article class="content col-8">
           
                <div class="row">
                    <form method="post" class="form-account">
                        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="container">
                            <div class="row">
                                <div class="card-header">
                                    <strong>Sifariş Et</strong>
                                </div>
                                <div class="name-surname col-12">
                                    <div class="name col-5">
                                        <label class="form-label">Hasnı şəhərdən</label>
                                        <select id="fromCity" asp-for="OrderFromCityId" class="form-select fromcity" aria-label="Default select example">
                                            <option value="0">Hansi Seherden</option>
                                            @foreach (var item in ViewBag.Cities)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                        <span class="text text-danger" asp-validation-for="OrderFromCityId"></span>
                                    </div>
                                    <div class="surname col-5">
                                        <label for="" class="form-label">Hansı Rayondan</label>
                                        <select id="fromDistrict" asp-for="OrderFromDistrictId" class="form-select" aria-label="Default select example">
                                            <option value="0">Hansi Rayondan</option>
                                            @foreach (var item in ViewBag.Districts)
                                            {
                                                <option class="fromdistrict" data-id="@item.CityId" value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                        <span class="text text-danger" asp-validation-for="OrderFromDistrictId"></span>
                                    </div>
                                </div>
                                <div class="name-surname col-12">
                                    <div class="surname col-5">
                                        <label for="" class="form-label">Haradan Address Mənzil</label>
                                        @if (!((IEnumerable<AdressGetDto>)ViewBag.Adresses).Any())
                                        {
                                            <div class="name col-5">
                                                <label for="" class="form-label">Hara Address Mənzil</label>
                                                <input type="text" class="form-control" asp-for="ToAdress" placeholder="Hara Address Mənzil">
                                                <span class="text text-danger" asp-validation-for="ToAdress" />
                                            </div>
                                        }


                                        else
                                        {
                                            <select asp-for="FromAdress" class="form-select" aria-label="Default select example">
                                                <option>Haradan Address Mənzil</option>
                                                @foreach (var item in ViewBag.Adresses)
                                                {
                                                    <option value="@item.UserAdres">@item.UserAdres</option>
                                                }
                                            </select>

                                        }
                                        <span class="text text-danger" asp-validation-for="OrderFromDistrictId"></span>
                                    </div>
                                    <div class="name col-5">
                                        <label for="" class="form-label">Hasnı şəhərə</label>
                                        <select id="toCity" asp-for="OrderToCityId" class="form-select" aria-label="Default select example">
                                            <option value="">Hansi Sehere</option>
                                            @foreach (var item in ViewBag.Cities)
                                            {
                                                <option value="@item.Id">@item.Name</option>
                                            }
                                        </select>
                                        <span class="text text-danger" asp-validation-for="OrderToCityId"></span>
                                    </div>

                                </div>
                                <div class="name-surname col-12">

                                    <div class="surname col-5">
                                        <label for="" class="form-label">Hansı Rayona</label>
                                        <select id="toDistrict" asp-for="OrderToDistrictId" class="form-select" aria-label="Default select example">
                                            <option value="">Rayona</option>
                                            @foreach (var item in ViewBag.Districts)
                                            {
                                                <option value="@item.Id" data-id="@item.CityId">@item.Name</option>
                                            }
                                        </select>
                                        <span class="text text-danger" asp-validation-for="OrderToDistrictId"></span>
                                    </div>
                                    <div class="name col-5">
                                        <label for="" class="form-label">Hara Address Mənzil</label>
                                        <input type="text" class="form-control" asp-for="ToAdress">
                                        <span class="text text-danger" asp-validation-for="ToAdress"></span>
                                    </div>
                                </div>
                                <div class="name-surname col-12">

                                    <div class="surname col-5">
                                        <label for="" class="form-label">Qəbul edənin Ad Soyadı</label>
                                        <input type="text" asp-for="ToFullName" class="form-control">
                                        <span class="text text-danger" asp-validation-for="ToFullName"></span>
                                    </div>
                                    <div class="name col-5">
                                        <label for="" class="form-label">Qəbul edənin telefon nömrəsi</label>
                                        <input type="text" asp-for="ToPhoneNumber" class="form-control">
                                        <span class="text text-danger" asp-validation-for="ToPhoneNumber"></span>
                                    </div>
                                </div>
                                <div class="name-surname col-12">

                                    <div class="surname col-5">
                                        <label for="" class="form-label">Bağlama sayı</label>
                                        <input type="number" asp-for="PackageCount" class="form-control">
                                        <span class="text text-danger" asp-validation-for="PackageCount"></span>
                                    </div>
                                    <div class="name col-5">
                                        <label for="" class="form-label">Bağlama çəkisi</label>
                                        <input type="number" asp-for="Kq" class="form-control">
                                        <span class="text text-danger" asp-validation-for="Kq"></span>
                                    </div>
                                </div>
                                <div class="name-surname col-12">

                                    <div class="surname col-5">
                                        <label for="" class="form-label">Çatdırılma</label>
                                        <select asp-for="IsFast" class="form-select" aria-label="Default select example">
                                            <option value="False">Sadə</option>
                                            <option value="True">Sürətli</option>
                                        </select>


                                    </div>
                                </div>

                                <div class="send">
                                    <div class="cash-card">
                                        <div class="nagd">
                                            <input type="radio" asp-for="Payment" id="nagd" value="Cash">
                                            <label for="nagd">Nəğd</label>
                                        </div>
                                        <div class="debet">
                                            <input type="radio" asp-for="Payment" id="debet-card" value="Card">
                                            <label for="debet-card">Card</label>
                                        </div>

                                    </div>
                                    <button id="submit" type="submit">Sifariş et</button>
                                </div>
                            </div>
                        </div>

                    </form>


                </div>
            </article>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/assets/js/panel.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>document.getElementById('fromCity').addEventListener('change', function () {
            var selectedCityId = this.value;

            var fromDistrictSelect = document.getElementById('fromDistrict');
            var fromDistrictOptions = fromDistrictSelect.getElementsByClassName('fromdistrict');

            // Show all options initially
            for (var i = 0; i < fromDistrictOptions.length; i++) {
                fromDistrictOptions[i].style.display = 'block';
            }

            // Hide options that don't match the selected city
            for (var i = 0; i < fromDistrictOptions.length; i++) {
                var option = fromDistrictOptions[i];
                var optionCityId = option.getAttribute('data-id');

                if (optionCityId !== selectedCityId) {
                    option.style.display = 'none';
                }
            }

            // Reset the selected district
            fromDistrictSelect.value = 0;
        });

        document.getElementById('toCity').addEventListener('change', function () {
            var selectedCityId1 = this.value;
            var toDistrictSelect = document.getElementById('toDistrict');
            var toDistrictOptions = toDistrictSelect.getElementsByTagName('option');

            for (var i = 0; i < toDistrictOptions.length; i++) {
                var option = toDistrictOptions[i];
                var optionCityId = option.getAttribute('data-id');

                if (optionCityId && optionCityId == selectedCityId1) {
                    option.style.display = 'block';
                } else {
                    option.style.display = 'none';
                }
            }
            toDistrictSelect.value = '';
        });
        const verify = document.querySelector(".verify")
        if (verify != undefined) {
            swal(verify.innerHTML)
        };</script>


}
