@using AlfaKuryer.Application.Dtos.OrderDtos;
@model OrderPostDtoStorage
<div class="card">
    <div class="card-header">
        Yeni sifariş
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-12">

                <form asp-action="Create" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Sifariş verən ad soyad </label>
                        <input asp-for="FromFullName" class="form-control" />
                        <span asp-validation-for="FromFullName"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Sifariş verən telefon nömrəsi</label>
                        <input asp-for="FromPhoneNumber" class="form-control" />
                        <span asp-validation-for="FromPhoneNumber"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Hansı Şəhərə</label>
                        <select asp-for="OrderToCityId" class="cityTo form-control" onchange="handleCityChange(this, 'districtTo')">
                            @foreach (var item in ViewBag.Cities)
                            {
                                <option value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </select>
                        <span asp-validation-for="OrderToCityId"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Hansı Rayona</label>
                        <select asp-for="OrderToDistrictId" class="districtTo form-control" onchange="handleDistrictChange(this, 'cityTo')">
                            <option value="0">Rayon</option>
                            @foreach (var item in ViewBag.Districts)
                            {
                                <option data-id="@item.CityId" value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </select>
                        <span asp-validation-for="OrderToDistrictId"></span>
                    </div>


                    <div class="form-group  col-md-6">
                        <label class="control-label">Haraya Adress mənzil </label>
                        <input asp-for="ToAdress" class="form-control" />
                        <span asp-validation-for="ToAdress"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">qəbul edənin Ad Soyad</label>
                        <input asp-for="ToFullName" class="form-control" />
                        <span asp-validation-for="ToPhoneNumber"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">qəbul edənin telefon nömrəsi</label>
                        <input asp-for="ToPhoneNumber" class="form-control" />
                        <span asp-validation-for="ToPhoneNumber"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Bağlama Sayı</label>
                        <input asp-for="PackageCount" class="form-control" />
                        <span asp-validation-for="PackageCount"></span>
                    </div>
                    <div class="form-group  col-md-6">
                        <label class="control-label">Bağlama çəkisi</label>
                        <input asp-for="Kq" class="form-control" />
                        <span asp-validation-for="Kq"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label">Ödəniş üsulu</label>
                        <select asp-for="Payment" class="cityTo form-control" onchange="handleCityChange(this, 'districtTo')">

                            <option value="Card">
                                Kart
                            </option>
                            <option value="Cash">
                                Nəğd
                            </option>

                        </select>
                        <span asp-validation-for="OrderToCityId"></span>
                    </div>

                    <div class="col-md-12 mt-3">
                        <a class="btn btn-dark" asp-action="index"><i class="fas fa-undo"></i> Siyahıya geri dön</a>
                        <input type="submit" value="Əlavə et" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>


    </div>
</div>

<script>function handleCityChange(select, districtClass) {
        var selectedCityId = select.value;
        var districtDropdown = document.querySelector('.' + districtClass);

        // Show all options in the district dropdown
        for (var i = 0; i < districtDropdown.options.length; i++) {
            districtDropdown.options[i].style.display = 'block';
        }

        // Hide the options that do not match the selected city
        for (var i = 0; i < districtDropdown.options.length; i++) {
            var option = districtDropdown.options[i];
            var districtCityId = option.getAttribute('data-id');
            if (districtCityId !== selectedCityId) {
                option.style.display = 'none';
            }
        }
    }

    function handleDistrictChange(select, cityClass) {
        var selectedCityId = document.querySelector('.' + cityClass).value;
        var selectedDistrictId = select.value;
        var cityDropdown = document.querySelector('.' + cityClass);

        // Show all options in the city dropdown
        for (var i = 0; i < cityDropdown.options.length; i++) {
            cityDropdown.options[i].style.display = 'block';
        }

        // Hide the options that do not match the selected district
        for (var i = 0; i < cityDropdown.options.length; i++) {
            var option = cityDropdown.options[i];
            var cityId = option.value;
            var districtDropdown = document.querySelector('.' + cityClass + '[data-id="' + cityId + '"]');
            if (districtDropdown && districtDropdown.value !== selectedDistrictId) {
                option.style.display = 'none';
            }
        }
    }

    // Add event listeners for the "From" dropdowns
    var fromCityDropdown = document.querySelector('.city');
    fromCityDropdown.addEventListener('change', function () {
        handleCityChange(this, 'district');
    });

    var fromDistrictDropdown = document.querySelector('.district');
    fromDistrictDropdown.addEventListener('change', function () {
        handleDistrictChange(this, 'city');
    });

    // Add event listeners for the "To" dropdowns
    var toCityDropdown = document.querySelector('.cityTo');
    toCityDropdown.addEventListener('change', function () {
        handleCityChange(this, 'districtTo');
    });

    var toDistrictDropdown = document.querySelector('.districtTo');
    toDistrictDropdown.addEventListener('change', function () {
        handleDistrictChange(this, 'cityTo');
    });</script>



