@using AlfaKuryer.Application.Dtos.OrderDtos;
@model IEnumerable<OrderGetDto>
@{
    ViewData["Title"] = "Index";
}


<style>
    th, td {
        font-size: 9px;
    }
</style>

<div class="card">
    <div class="card-header">
        Sifarişlər
    </div>
    <div class="card-body">

        <div class="text-center mb-3 mt-3">
            <a asp-action="Create" class="btn btn-success">
                <i class="fas fa-plus"></i> Yenisini əlavə et
            </a>
        </div>


        <table class="table" data-emrah="products">
            <thead>
                <tr>
                    <th>
                        Sifariş nömrəsi
                    </th>
                    <th>
                        Qiymət
                    </th>

                    <th>
                        Hardan
                    </th>
                    <th>
                        Haraya
                    </th>
                    <th>
                        Kimdən
                    </th>
                    <th>
                        Kimə
                    </th>
                    <th>
                        Tarix
                    </th>
                    <th>Ətraflı gör</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderByDescending(x => x.Id))
                {
                    <tr data-id="@item.Id">
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Price AZN
                        </td>
                        <td>
                            @item.OrderFromCity?.Name
                        </td>
                        <td>
                            @item.OrderToCity?.Name
                        </td>
                        <td>
                            @item.Customer?.Name @item.Customer.Surname
                        </td>
                        <td>
                            @item.ToFullName
                        </td>
                        <td>
                            @item.CreatedDate.ToString("dd:MM:yyyy:hh:mm");
                        </td>
                        <td>
                            <a asp-action="detail" asp-route-id="@item.Id">Ətraflı</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>



    </div>
</div>

<script>const active = document.querySelector(".active");
    console.log(active);</script>

