@using AlfaKuryer.Domain.Entities;
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        Kuryerlər
    </div>
    <div class="card-body">

        <div class="text-center mb-3 mt-3">
            <a asp-action="CreateCourier" class="btn btn-success">
                <i class="fas fa-plus"></i> Yenisini əlavə et
            </a>
        </div>

        <table class="table" data-emrah="partners">
            <thead>
                <tr>
                    <th>
                        Ad
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Sifarişlərin gör
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.Id">
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Email
                        </td>
                        <td>
                            <a   asp-action="CourierSalary" asp-route-UserId="@item.Id">Sifarişlərin gör</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" onclick="return confirm('Silmək istədiyinizdən əminsiniz?');" asp-action="DeleteConfirmed" asp-route-UserId="@item.Id"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>




    </div>
</div>

